<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="./css/root.css">
                
<head>
	
</head>

<body>
    <table class="table">
        <thead>
          <tr>
           
            <th>ID</th>
           
            <th>Name </th>

            <th>Email </th>
          </tr>
        </thead>
        <tbody>
           
          
          
            <% for (var i = 0; i < user.length; i++) { %>
            
                <tr>
                    <script> if( <% user[i] %> == null) { <% user[i].id %> = 0; <% user[i].username %> = "---"; <% user[i].email %> = "---" }</script>
                    <td><%= user[i].id %> </td>
                    <td><%= user[i].username %></td>
                    <td><%= user[i].email %> </td>
                    
                </tr>
                

            </table>
         

            <div> 
                <script> if( <% user[1] %> == null || <% user[1] %> == undefined) { <% user.id %> = "---"; <% user[1].username %> = "---"; <% user[1].email %> = "---" </script>
                <td><%= user[1].id %></td>
                <td><%= user[1].username %></td>
                <script>}</script><%  } %>
                <form id="tableForm" action="/userQueue" method="POST">
                    <select class="selectpicker" data-style="btn-info" name="selectpicker">
                        <optgroup label="Select Role">
                            <option name="" value="0">Select role</option>
                            <option name="admin" value="1">Admin</option>
                            <option name="supervisor" value="2">Supervisor</option>
                            <option name="employee" value="3">Employee</option>
                        </optgroup>
                    </select>
                <button type="submit" name="accept" value="currentUser" class="btn btn-success rounded-pill">Accept</button>
                <button type="submit" name="deny" value="denyRole" class="btn btn-success rounded-pill">Deny</button>

</form>
                
            </div>
          </tbody>
       


</body>
            </div>
        </div>
        </div>
</html>