<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="./css/root.css">
                
<head>
	
</head>

<body>
    <table class="table">
        <thead>
          <tr>
           
            <th>ID</th>
           
            <th>Name </th>

            <th>Email </th>
          </tr>
        </thead>
        <tbody>
           
          
          
            <% for (var i = 0; i < user.length; i++) { %>
            
                <tr>
                    <td><%= user[i].id %> </td>
                    <td><%= user[i].username %></td>
                    <td><%= user[i].email %> </td>
                    
                   
                </tr>
                <%  } %>

            </table>
         

            <div> 
                <td><%= user[1].id %></td>
                <td><%= user[1].username %></td>
                
                <form action="/userQueue" method="POST" class="selectpicker" name="rolechoice">
                    <select class="form-control"> 
                        <option selected= <%= user.roles === "admin" %> value = "1">Admin</option> 
                        <option selected= <%= user.roles === "supervisor" %> value = "2">Supervisor</option>  
                        <option selected= <%= user.roles === "3" %> value = "3">Employee</option> 
                        <option name="" value = "0">Choose the user's role</option>
                      </select>
                <button type="submit" name="accept" value="currentUser" class="btn btn-success rounded-pill">Accept</button>
                <button type="submit" name="deny" value="denyRole" class="btn btn-success rounded-pill">Deny</button>

</form>
                
            </div>
            <br>
            <form action="/userQueue" method="POST" class="pt-3">
                <div class="form-group">
                    <input type="username" class="form-control" placeholder="username" name="username">
                </div>
                </div>
                <div class="form-group">
                    <input class="form-control" name="role" placeholder="Please choose Role">
                </div>
                <button type="submit" name="accept" value="accept" class="btn btn-success rounded-pill">Accept</button>
                <button type="submit" name="delete_button" value="deleteUser" class="btn btn-success rounded-pill">Delete User</button>
            </form>

          </tbody>
       


</body>
            </div>
        </div>
        </div>
</html>